{% extends 'easycomb_theme/layout.html' %}

{% block section-title %}
Combos
<a class="btn btn-success btn-sm" href="{% url 'inventory:new_combo' %}"><i class="fas fa-plus-circle">
        Agregar</i></a>
{% endblock section-title %}

{% block content %}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Combos</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                    title="Remove">
                    <i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>
                        <th style="width: 8%" class="text-center">
                            Estado
                        </th>
                        <th style="width: 20%" class="text-center">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for combo in combos %}
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                {{ combo.name }}
                            </a>
                        </td>
                        <td>
                            ${{ combo.price }}
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Disponible</span>
                            <!-- {% if combo.stock > 0 %}
                            <span class="badge badge-success">{{ combo.stock }}</span>
                            {% else %}
                            <span class="badge badge-danger">{{ combo.stock }}</span>
                            {% endif %} -->
                        </td>
                        <td class="project-actions text-center">
                            <a class="btn btn-primary btn-sm" href="{% url 'inventory:combo_details' combo.id %}">
                                <i class="fas fa-eye">
                                </i>

                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>

                            </a>
                            <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#modal-default{{ combo.id }}">
                                <i class="fas fa-trash">
                                </i>

                            </a>
                        </td>
                    </tr>
                    <!-- Modal to Delete combo -->
                    <div class="modal fade" id="modal-default{{ combo.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Borrar Combo</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="h6">Estas seguro de borrar el combo con nombre <strong>{{ combo.name }}</strong>?</p>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'inventory:delete_combo' combo.id %}" class="btn btn-danger">Borrar</a>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<!-- /.content -->
{% endblock content %}