{% extends 'easycomb_theme/layout.html' %}

{% block section-title %}
Detalle del Cliente
{% endblock section-title %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <div class="card-tools float-right">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"
                                        data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <h3 class="card-title"><span class="text-bold h3">Cliente: </span><a href="#"><span
                                            class="text-bold h2 text-info">{{ customer.first_name.capitalize }}
                                            {{ customer.last_name.capitalize }}</span></a></h3>
                                <h4 class="card-title text-muted">
                                    <span class="underline">Cliente ID: {{ customer.id }}</span>
                                </h4>
                            </div>
                            <!-- <div class="col">
                                <h3 class="card-title float-right"><span class="text-bold h3">Fecha: </span><span
                                        class="text-bold h2">{{ order.date|date:"d-m-Y" }}</span></h3>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        ID
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th class="text-center">
                                        Estado
                                    </th>
                                    <th class="text-center">
                                        Pagado
                                    </th>
                                    <th class="text-center">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        {{ order.id }}
                                    </td>
                                    <td>
                                        {{ order.date }}
                                    </td>
                                    <td class="text-center">
                                        {% if order.status == 'P' %}
                                        <span class="badge badge-warning">{{ order.get_status_display }}</span>
                                        {% elif order.status == 'R' %}
                                        <span class="badge badge-dark">{{ order.get_status_display }}</span>
                                        {% else %}
                                        <span class="badge badge-success">{{ order.get_status_display }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if order.paid_status %}
                                        <span class="badge badge-success">Pagado</span>
                                        {% else %}
                                        <span class="badge badge-danger">Pendiente</span>
                                        {% endif %}
                                    </td>
                                    <td class="project-actions text-center">
                                        <a class="btn btn-primary btn-sm" href="{% url 'orders:order_details' order.id %}">
                                            <i class="fas fa-eye">
                                            </i>
            
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    <!-- Button trigger modal -->
                    <div class="card-footer">
                        <a href="{% url 'clients:customers' %}" class="btn btn-info float-right">Volver</a>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="card-title">Entregas del Pedido</h3>
                    </div>
                    
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">ID</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in incomes %}
                                <tr>
                                    <td>{{ income.id }}</td>
                                    <td>{{ income.date }}</td>
                                    <td>
                                        <span class="badge bg-success">{{ income.amount }}</span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td></td>
                                    <td>No hay entregas realizadas.</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-warning">Registrar Pago</button>
                    </div>
                </div>
            </div>  -->

        </div>
    </div>
</section>
<!-- /.content -->
{% endblock content %}