{% extends 'easycomb_theme/layout.html' %}

{% block section-title %}
Detalle de Compra
{% endblock section-title %}

{% block content %}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Proveedores</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                    title="Remove">
                    <i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase_detail in products_purchased %}
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                {{ purchase_detail.product.name }}
                            </a>
                        </td>
                        <td>
                            {{ purchase_detail.description }}
                        </td>
                        <td>
                            {{ purchase_detail.cost }}
                        </td>
                        <td>
                            {{ purchase_detail.quantity }}
                        </td>
                        <td>
                            $ {{ purchase_detail.total }}
                        </td>
                    </tr>
                    <!-- Modal to Delete product -->
                    <div class="modal fade" id="modal-default{{ product.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Borrar producto</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="h6">Estas seguro de borrar el producto con nombre <strong>{{ product.name }}</strong>?</p>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <a href="#" class="btn btn-danger">Borrar</a>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    {% endfor %}
                    <tr class="bg-success">
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <a>
                                Total
                            </a>
                        </td>
                        <td>
                            $ {{ total_purchased }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="{% url 'suppliers:purchases' %}" class="btn btn-primary float-right">Volver</a>
        </div>
    </div>
    <!-- /.card -->

</section>

<!-- /.content -->
{% endblock content %}